<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bakugou mi varón</title>
</head>
<body>
    <link rel="stylesheet" href="Kn.css">
    
    <p id="k">La energía U C U C almacenada en un condensador es energía potencial electrostática y, por tanto, está relacionada con la carga Q y el voltaje V entre las placas del condensador. Un condensador cargado almacena energía en el campo eléctrico entre sus placas.</p>
    <h1>Manu</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto ullam laudantium ipsa, nemo voluptates accusantium magnam voluptatum eius, quia ea quibusdam eligendi expedita dolores quo, totam labore sapiente explicabo non.</p>
    <h2><b>Es una buena persona</b></h2>
    <h3>Extremadamente amable</h3>
    <blockquote class="twitter-tweet"><p lang="es" dir="ltr">Ibai no es viernes bueno aquí te dejo mi perro bailando <a href="https://t.co/KRqmg3xSIR">pic.twitter.com/KRqmg3xSIR</a></p>&mdash; Atakito (@Atakitooooooo) <a href="https://twitter.com/Atakitooooooo/status/1554908295781031938?ref_src=twsrc%5Etfw">August 3, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <p><i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam delectus error, itaque mollitia, iste eum fugit quidem impedit veniam magni deleniti consectetur? Quibusdam in repellat hic architecto dolores ullam delectus.
        Lorem ipsum dolor sit amet consectetur,</i> adipisicing elit. Eaque illum, blanditiis dolorem consequuntur eum labore? Laudantium numquam recusandae repellendus fugit dolorum. <u>Consectetur recusandae ipsa,</u> ut itaque hic earum laboriosam odit!
        </p>
    <br>
    <br>
    <br>
        <p>Si quieres saber más sobre la vida de Naiker, <a href="https://www.facebook.com/jhon.beleno96">dale click aquí</a></p>
    <br>
    <br>
        <h1>Michu</h1>
    <h2>Te quiero mucho we</h2>
       <p id="Mi">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ipsa, quis commodi vero accusantium doloribus impedit placeat enim asperiores non eos omnis deleniti aliquam eveniet voluptates. Fuga tempore aut totam! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae similique rem ab eaque doloremque unde aspernatur cum laudantium quidem qui ullam est, iusto, minus modi? Obcaecati adipisci nesciunt provident animi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam numquam obcaecati provident veritatis, cum nemo dolorum iure. Hic adipisci, iure nemo ipsam autem quia laudantium debitis assumenda, quam blanditiis delectus!</p>
    <br>
        <img src="https://i.pinimg.com/736x/07/39/3e/07393ee5bd2e2751e1012994182d42c8.jpg" width="300px" height="410">
    <br>
    <br>
    <h1>Texto de prueba 88</h1>
        <p><a href="https://tenor.com/es/ver/jijijaja-gif-24753402">Presiona aquí para ir a 4kstore.com</a>
        4kstore es una página argentina de música satírica, es conocida principalmente por ser el origen de la canción negros de mierda
        </p>
    <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam magnam quam ab in molestiae consequuntur quibusdam dolorum. Inventore quasi quos sunt iusto hic maxime vero tempore autem consectetur, dolor nostrum! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum eaque iure id et quasi sunt quibusdam excepturi aliquam quia nesciunt, unde fuga recusandae ipsum soluta similique dolor rem necessitatibus explicabo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda beatae perferendis saepe tenetur non ducimus nesciunt iure, totam inventore hic itaque magni in illo. Nihil perspiciatis reiciendis ratione eos ipsa.</p>
    <br>
        <p>Ingresa tus datos para seguir recibiendo información</p>
    <form action="Manu.html" method="post">
            <p><label for="Email">Email: <input type="text"id="Email"></label></p>
            <p><label for="Numero">Numero: <input type="text"id="Numero"></label>(opcional)</p>
            <p>Qué sos:<label>
                <select name="Qué sos" id="Sex">
                    <option value="gay">gay</option>
                    <option value="bisexual">bisexual</option>
                    <option value="pansexual">pansexual</option>
                    <option value="normal"selected>normal</option>
                </select>
            </label></p>
            <p>Derechos humanos:
                <input type="checkbox" value="blanco">
                    <label>blanco</label>
                <input type="checkbox" value="negro">
                    <label>negro</label>
                <input type="checkbox" value="chino">
                    <label>chino</label>
                <input type="checkbox" value="latino">
                <label>latino</label>

                </p>
            <button type="submit">Enviar</button>
        
        
    </form>    
    <p><a href="#k">Presiona aquí para volver al inicio de la página</a></p>
    <br>
</body>
</html>