<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>{{título}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			{{>header}}

		<!-- Nav -->
			{{>navbar}}

		<!-- Banner -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="banner" class="bg-img" data-bg="Ari1.jpg">
				<div class="inner">
					<header>
						<h1>Feliz cumpleaños BB</h1>
					</header>
				</div>
				
			</section>

		<!-- One -->
			<section id="one" class="wrapper post bg-img" data-bg="AriHB.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Te quiero mucho enana</h2>
							<p>28/8/2022</p>
							
						</header>
						<div class="content">
							<p>Eres muy graciosa, pero no graciosa de risa, graciosa de linda <3.</p>
						</div>
						<footer>
							<a href="/generic" class="button">Qué Linda Eres Tú</a>
						</footer>
					</article>
				</div>
				<a href="#two" class="more">Learn More</a>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper post bg-img" data-bg="miMujer.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Imagina estudiar Ingeniería civil</h2>
							<p>28/8/2022</p>
						</header>
						<div class="content">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/jzt98zvmSfI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
						<footer>
						<a href="https://youtu.be/uSD4vsh1zDA" class="button">Qué Linda Eres Tú</a>
						</footer>
					</article>
				</div>
				<a href="#three" class="more">Learn More</a>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper post bg-img" data-bg="AriN.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Aesthetic</h2>
							<p>28/8/2022</p>
						</header>
						<div class="content">
							<img alt="" class="z6erz7xo on4d8346 pytsy3co s8sjc6am myo4itp8 ekq1a7f9 mfclru0v" referrerpolicy="origin-when-cross-origin" src="https://scontent-mia3-1.xx.fbcdn.net/v/t39.30808-6/299927702_398119659094154_5696911710891410054_n.jpg?stp=dst-jpg_s600x600&amp;_nc_cat=106&amp;ccb=1-7&amp;_nc_sid=8bfeb9&amp;_nc_ohc=H3ceCxAVGD8AX9gNGcD&amp;tn=yPb4KuBKs3aSWk9P&amp;_nc_ht=scontent-mia3-1.xx&amp;oh=00_AT947eBd3MaICSZrOIOvIpJbsXv9ppUzEG1HcyH26YG_ig&amp;oe=631037A0">
						</div>
						<footer>
							<a href="https://youtu.be/srnyVw-OR0g" class="button">Qué Linda Eres Tú</a>
						</footer>
					</article>
				</div>
			
			</section>

		<!-- Four -->
			<section id="four" class="wrapper post bg-img" data-bg="Euro.jfif">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Europa para allá voy</h2>
							<p>28/8/2022</p>
						</header>
						<div class="content">
							<p>Llevo tu luz y tu aroma en mi piel
Y el cuatro en el corazón
Llevo en mi sangre la espuma del mar
Y tu horizonte en mis ojos</p>
						</div>
						<footer>
						<a href="https://youtu.be/FVWbV7qD8KA" class="button">Qué Linda Eres Tú</a>
						</footer>
					</article>
				</div>
			</section>

		<!-- Footer -->
			{{>footer}}

	</body>
</html>